<div class="card-container flex-column" #mainContainer>
	<mat-card class="intro-card">
		<mat-card-title>Hi, I'm Amir Sarrouj!</mat-card-title>
		<mat-card-content>
			<div class="intro-card-content">
				<img class="my-headshot" src="/assets/cropped.jpg" alt="Amir">
				<div class="intro-card-text flex-column">
					<span>
						Welcome to my website! This Full Stack application was made as a learning oppurtunity for
						technologies like Angular, Nginx, ExpressJS, and Postgres. It also allows me to host my resume
						and any other useful information on the web! This is currently an early version of the 'About
						Me' page,
						and a redesign is under development!
						<br>
						Feel free to contact me for any professional inquiries and check out my social medias below!
					</span>
					<div class="intro-card-info flex-column">
						<div class=contact-info>
							<a class="mail-link" href="mailto: asarrouj590@gmail.com">
								<mat-icon>email</mat-icon>
							</a>
							<span>asarrouj590@gmail.com</span>
							<mat-icon>phone_in_talk</mat-icon>
							<span>419-787-5471</span>
							<mat-icon svgIcon="house"></mat-icon>
							<span>Columbus, OH</span>
						</div>
						<div class="social-media-icons">
							<a href="https://www.linkedin.com/in/amir-sarrouj-7636b9180">
								<mat-icon class="medium-icon" svgIcon="linkedin"></mat-icon>
							</a>
							<a href="https://www.youtube.com/channel/UCv2wo5gn2rF6jLvxtMVNhNw">
								<mat-icon class="medium-icon" svgIcon="youtube"></mat-icon>
							</a>
							<a href="https://github.com/ASarrouj">
								<mat-icon class="medium-icon" svgIcon="github"></mat-icon>
							</a>
						</div>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card *ngFor="let section of resumeSections">
		<mat-card-title>
			<div class="titleContainer">
				<span>{{ section.title }}</span>
				<mat-icon aria-hidden="true"
					data-mat-icon-type="font">
					{{ section.icon }}
				</mat-icon>
			</div>
		</mat-card-title>
		<mat-card-content>
			<ng-container *ngIf="section.title == 'ABOUT ME'">
				<ng-container *ngFor="let subSection of section.content">
					<span>{{ subSection[0] }}</span>
				</ng-container>
			</ng-container>
			<div *ngIf="section.title == 'WORK EXPERIENCE'" class="flex-column" gap="10px">
				<ng-container *ngFor="let subSection of section.content">
					<span class="important-text">{{ subSection[0] }}</span>
					<span>{{ subSection[1] }}</span>
					<ul>
						<li *ngFor="let li of subSection | slice:2">{{ li }}</li>
					</ul>
				</ng-container>
			</div>
			<ul *ngIf="section.title == 'PERSONAL PROJECTS' || section.title == 'SKILLS'">
				<ng-container *ngFor="let subSection of section.content">
					<li *ngFor="let li of subSection">{{ li }}</li>
				</ng-container>
			</ul>
			<div *ngIf="section.title == 'EDUCATION'" class="flex-column section-gap">
				<div *ngFor="let subSection of section.content" class="flex-column">
					<div class="education-header">
						<span class="important-text">{{ dateRest.exec(subSection[0])?.[0]?.trim() }}</span>
						<span>{{ dateRegex.exec(subSection[0])?.[0] }}</span>
					</div>
					<span *ngFor="let line of subSection | slice:1">{{ line }}</span>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>